<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List</title>
    <script src="../vue.js"></script>
</head>

<body>
    <ul id="example-1">
        <li v-for="item in items">
            {{ item.message }}
        </li>

        <li v-for="(item, index) in items">
            {{ parentMessage }} - {{ index }} - {{ item.message }}
        </li>
    </ul>

    <ul id="v-for-object" class="demo" :key='index'>
        <li v-for="(value, name, index)  in object">
            {{ index }}. {{ name }}: {{ value }}
        </li>
    </ul>

    <script>
        var example1 = new Vue({
            el: '#example-1',
            data: {
                parentMessage: 'hello',
                items: [
                    { message: 'Foo' },
                    { message: 'Bar' }
                ]
            }
        })

        var vm2 = new Vue({
            el: '#v-for-object',
            data: {
                object: {
                    title: 'How to do lists in Vue',
                    author: 'Jane Doe',
                    publishedAt: '2016-04-10'
                }
            }
        })
    </script>
</body>

</html>